<!DOCTYPE html>
<html ng-app="widgets">
<head>
  <title>Photos</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="photos.js"></script>
  <script src="app.js"></script>
  
  <style>
   .col-md-4:nth-child(3n+1){
     clear: left;
   }

   .col-md-4 {
    margin-bottom: 20px;
   }
  </style>
</head>
<body ng-controller="PhotosCtrl">

<div class="container">

  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Angular Photo Gallery</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      Page: 
      <span ng-repeat="page in pagesArr">
        <button class="btn btn-primary" ng-disabled="page == currentPage" ng-click="changePage(page)">{{ page }}</button>
      </span> | 

      <label for="instagram-filter" class="sr-only">Select Instagram Filter</label>
      <select name="instagram-filter" ng-model="selectedFilter" ng-options="key for (key, value) in allFilters">
        <option value="" disabled>Instagram Filters</option>
      </select> | 

      <label for="hashtag-filter" class="sr-only">Select Hashtags</label>
      <select name="hashtag-filter" multiple="true" ng-model="selectedTags" ng-options="key for (key, value) in allHashtags">
        <option value="" disabled>Hashtags</option>
      </select>  |

      <ng-pluralize count="displayImages.length" when="{'1': '1 Result', 'other': '{} Results'}">
      </ng-pluralize>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-4" ng-repeat="image in displayImages = ( rawFeed.data | filter:{filter:selectedFilter} | filterHashtags:selectedTags ) | limitTo : photosPerPage : offset">

      <div class="text-center">
        <p>
          <a ng-href="https://www.instagram.com/{{ image.user.username }}">
            <strong>{{ image.user.username }}</strong>
          </a>
          on {{ image.created_time * 1000 | date }}
        </p>
        
        <a ng-href="{{ image.link }}">        
          <img ng-src="{{ image.images.low_resolution.url }}" alt="" class="img-thumbnail">
        </a>

        <p>
          {{ image.caption.text }}
        </p>

        <p>
          Likes: {{ image.likes.count }} |
          Comments: {{ image.comments.count }} | 
          Filter: {{ image.filter }} <br>
        </p>

        <p>
         
        </p>
      </div>

    </div>
  </div>

</div>

</body>
</html>